# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/secretaria-wms

# JWT Secret
JWT_SECRET=secretaria-wms-jwt-secret-2026

# SMTP Gmail
SMTP_EMAIL=seuemail@gmail.com
SMTP_PASSWORD=suasenha_de_app

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Server Port
PORT=5000
